.avatar{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    padding: 40px;
    border-color: black;
}

.desc_snk{
    font-family: Papyrus, fantasy;
    text-align: center;
    color: red;
    font-size: 30px;
}

.titulo_snk{
    text-align: center;
    font-size: 70px;
    color: #3270cf;
}

.div_snk{
    border-top: 7px solid #c0e1ed;
    margin-top: 50px;
    margin-bottom: 50px;
}

