body {
    background-image: url("https://images6.alphacoders.com/131/1315629.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.avatar{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    padding: 40px;
    border-color: black;
}

.desc{
    font-family: Papyrus, fantasy;
    text-align: center;
    color: red;
    font-size: 30px;
}



